body {
    background: #f0f8ff
}

#banner {
    width: 100%;
}

.titulo-centralizado {
    text-align: center;
    font-family:"Montserrat", sans-serif;
}

p {
    text-align: center;
}

#missao {
    font-size: 20px
}

em strong {
    color: #a41a1a;
}

.itens {
    font-style: italic;
}

.beneficios {
    background: #F0f8ff;
    padding: 20px;
}

.titulo-principal {
    /*padding-left: 20px;*/
    padding-left: 0px;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagembeneficios {
    width: 50%;
}

.client{
  margin-left:320px;
}

.caixa{
  display:inline-block;
  text-align: center;
  width: 30%;
  vertical-align: top;
  margin: 0 140px 1.5% 1.5%;
  padding: 30px 20px;
  box-sizing: border-box;

}

.nome{
  text-align: center;
}

/*#img{
  position: relative;
  width: 400px;
  height: 300px;
  background-color: aliceblue;
  margin: 5px 5px 5px 0;
  display:inline-block;
}*/

.wrapper{
    display:grid;
    align-items: center;
    
}

.imagem{
    /*display:flex;
    justify-content: space-between; 
    */
    
     
     
}

.imagem img {
    
    max-width: 100%; /* Garante que as imagens não ultrapassem a largura da div pai */
    height: auto; /* Mantém a proporção da imagem */
    border: 500px;
    margin: 1rem; 
    border-radius: 20px;
}

